## List comprehension

- List comprehension is a way to write a list operations in a single line

- when we apply for loop and if-else conditional statements then the code compilation becomes slow

- which means it takes much time

- in order to avoid the time complexity we will use list comprehension

- List comprehension is a single line code

#### case-1:Only for loop

In [4]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1=[<code should write here>]
# inside code no need of append
list1=[<output var> <for loop>]

In [15]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**dont give (:) colon after for loop**

In [42]:
# Q1)

input=['hyd','bengaluru','pune','mumbai']
output=[i.capitalize() for i in input]
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [44]:
# Q2)

input=['hyd','bengaluru','pune','mumbai']
output=[i.upper() for i in input]
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [58]:
# Q3)
input=['hyd','bengaluru','pune','mumbai']
output=[(input.index(i)*10) for i in input]
output

[0, 10, 20, 30]

In [77]:
# Q4)
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i) for i in input]
sum(output)

6

#### Walrus operator

In [88]:
summ=0
for i in range(1,11):
    summ=summ+i
print(summ)

55

In [94]:
summ=0
[summ:=summ+i for i in range(1,11)]
summ

55

#### case-2: for loop if condition

In [98]:
even_list=[]
for i in range(1,10):
    if i%2==0:
        even_list.append(f'even:{i}')
even_list

['even:2', 'even:4', 'even:6', 'even:8']

In [102]:
even_list=[(f'even{i}') for i in range(1,10) if i%2==0]
even_list

['even2', 'even4', 'even6', 'even8']

In [104]:
even_list=[(f'even{i}') if i%2==0 for i in range(1,10)]
even_list

SyntaxError: expected 'else' after 'if' expression (504946745.py, line 1)

In [ ]:
**[<output> <if condition> <for loop>]----- not working**
**[<output> <for loop> <if condition>]----- working**

In [108]:
# Q6)
input=input=['hyd','ben#galuru','pune','mu#mbai']
output=[]
for i in input:
    if '#' in i:
        output.append(i)
output

['ben#galuru', 'mu#mbai']

In [112]:
output=[i for i in input if '#' in i]
output

['ben#galuru', 'mu#mbai']

In [116]:
# Q7)
output=[i for i in input if '#' not in i]
output

['hyd', 'pune']

In [ ]:
case-1 for loop:[<output var> <for loop>]
case-2 for-if:[<output var> <for loop> <if condition>]
case-3 for-if-else:[<if output> <if condition> <else> <else output> <for loop>]

#### case-3: for loop if-else condition

In [123]:
list1=[]
for i in range(1,10):
    if i%2==0:
        list1.append(f'even:{i}')
    else:
        list1.append(f'odd:{i}')
list1

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

In [125]:
list1=[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10)]
list1

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']

#### case-4: for loop if-elif-else condition

- in List Comprehension we dont have **elif** representation

- elif also represent as **else+if**

- in elif we have **elif condition** and **elif output**

In [ ]:
case-1 for loop:[<output var> <for loop>]
case-2 for-if:[<output var> <for loop> <if condition>]
case-3 for-if-else:[<if output> <if condition> <else> <else output> <for loop>]
case-4 for-if-elif-else:[<if output> <if condition> else <elif output> <elif condition> <else> <else output> <for loop>]

**Note**: instead of elif term write if

In [132]:
l=[45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f'{i}: A grade')
    elif i>60:
        print(f'{i}: B grade')
    else:
        print(f'{i}: C grade')

45: C grade
55: C grade
65: B grade
75: B grade
85: B grade
95: A grade

In [138]:
l=[45,55,65,75,85,95]
output=[f'{i}: A grade' if i>85 \
        else f'{i}: B grade' if i>60 \
        else f'{i}: C grade' for i in l]
output

['45: C grade',
 '55: C grade',
 '65: B grade',
 '75: B grade',
 '85: B grade',
 '95: A grade']

### Screening paper question

In [21]:
# Question- List of student marks in python,marks=[45,76,89,53,67,90,82,49,33,99],solve below all problems by using list comprehension topic.
# a) Filter the students who passed (marks>=50)
marks=[45,76,89,53,67,90,82,49,33,99]
output=[marks.index(i) for i in marks if i>=50]
output

[1, 2, 3, 4, 5, 6, 9]

In [5]:
# b) Calculate grades for all students (A:85+,B:70-84,C:50-69:,f:<50)
marks=[45,76,89,53,67,90,82,49,33,99]
output=[f'{i}: A grade' if i>=85 \
        else f'{i}: B grade' if i>=70 \
        else f'{i}: C grade' if i>=50 \
        else f'{i}: F grade' for i in marks]
output

['45: F grade',
 '76: B grade',
 '89: A grade',
 '53: C grade',
 '67: C grade',
 '90: A grade',
 '82: B grade',
 '49: F grade',
 '33: F grade',
 '99: A grade']

In [9]:
# c) add 5 grace marks to students who failed(<50)
marks=[45,76,89,53,67,90,82,49,33,99]
output=[i+5 for i in marks if i<50]
output

[50, 54, 38]

In [70]:
# d) Identify the top 3 scorers
marks=[45,76,89,53,67,90,82,49,33,99]
output=sorted(marks,reverse=True)
l=output[:3]
l

[99, 90, 89]

In [55]:
# d) Identify the top 3 scorers without using sorted or sort method
marks=[45,76,89,53,67,90,82,49,33,99]
max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)

99
90
89

In [61]:
marks=[45,76,89,53,67,90,82,49,33,99]
top_3=[(max_val:=max(marks),marks.remove(max_val))[0] for i in range(3)]
top_3

[99, 90, 89]

In [65]:
# e) Find the average marks
summ=0
marks=[45,76,89,53,67,90,82,49,33,99]
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance between two points**

In [ ]:
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]
# find the distance between l2 with all other points from l1
# which is the maximum distance give me that

<img id="dimg_2gqqZ-mKKL_jseMPrIurqQo_307" src="" class="YQ4gaf" height="162" style="object-position:71% 75%" width="311" alt="Calculate Euclidean distance in Python ..." data-csiid="2gqqZ-mKKL_jseMPrIurqQo_24" data-atf="1">

In [11]:
import math
l1=[10,20]  # [x1,y1]
l2=[30,40]  # [x2,y2]
d1=l2[0]-l1[0] # (x2-x1)=30-10=20
d1_square=math.pow(d1,2)
d1_square
d2=l2[1]-l1[1] # (y2-y1)=40-20=20
d2_square=math.pow(d2,2)
d2_square
##############################
summ=d1_square+d2_square
##############################
math.sqrt(summ)

28.284271247461902

In [15]:
math.sqrt(math.pow(l2[0]-l1[0],2)+math.pow(l2[1]-l1[1],2))

28.284271247461902

In [23]:
import math
l1=[1,2]  
l2=[10,20]
d1=l2[0]-l1[0]
d1_square=math.pow(d1,2)
d1_square
d2=l2[1]-l1[1]
d2_square=math.pow(d2,2)
d2_square
summ=d1_square+d2_square
math.sqrt(summ)

20.12461179749811