In [1]:
a=10
b=20
a
b

20

In [3]:
print(a)
print(b)

10
20

In [11]:
print(10)
print(20)

10
20

In [15]:
print(10),print(20)

10
20

(None, None)

In [17]:
10,20

(10, 20)

In [22]:
print(30,'Nareshit','Hyd')

30 Nareshit Hyd

In [63]:
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is add")
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is add
the addition of 100 and 200 is 300

In [57]:
name="python"
age=10
city="hyd"
# my name is python im 10 years old and came from hyd
print("my name is python im 10 years old and came from hyd")
print("my name is name im age years old and came from city")
print("my name is", name, "I'm", age, "years old and came from", city)

my name is python im 10 years old and came from hyd
my name is name im age years old and came from city
my name is python I'm 10 years old and came from hyd

**Format**

In [1]:
name="python"
age=10
city="hyd"
print("my name is python im 10 years old and came from hyd")
print("my name is {} im {} years old and came from {}")
print("my name is {} im {} years old and came from {}".format(name,age,city))

my name is python im 10 years old and came from hyd
my name is {} im {} years old and came from {}
my name is python im 10 years old and came from hyd

In [19]:
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}")
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300
the addition of {} and {} is {}
the addition of 100 and 200 is 300

In [ ]:
# wap take two numbers to perform the 
# subtraction
# multiplication
# division
# print the statements as follows

# the subtraction of 100 and 200 is -100
# the multiplication of 100 and 200 is 2000
# the division of 100 and 200 is 0.5

In [ ]:
#wap take three numbers to perform the average
#a,b,c
#avg=(a+b+c)/3
#print the statement
#the average of a,b,c is: avg

In [63]:
num1=100
num2=200
sub=num1-num2
print("the subtraction of 100 and 200 is -100")
print("the subtraction of {} and {} is {}")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))

the subtraction of 100 and 200 is -100
the subtraction of {} and {} is {}
the subtraction of 100 and 200 is -100

In [81]:
num1=100
num2=200
mul=num1*num2
print("the multiplication of 100 and 200 is 2000")
print("the multiplication of {} and {} is {}")
print("the multiplication of {} and {} is {}".format(num1,num2,mul))

the multiplication of 100 and 200 is 2000
the multiplication of {} and {} is {}
the multiplication of 100 and 200 is 20000

In [34]:
num1=100
num2=200
div=num1/num2
print("the division of 100 and 200 is 0.5")
print("the division of {} and {} is {}")
print("the division of {} and {} is {}".format(num1,num2,div))

the division of 100 and 200 is 0.5
the division of {} and {} is {}
the division of 100 and 200 is 0.5

In [7]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print("the average of a,b,c is: avg")
print("the average of {},{},{} is: {}")
print("the average of {},{},{} is: {}".format(a,b,c,avg))

20.0
the average of a,b,c is: avg
the average of {},{},{} is: {}
the average of 10,20,30 is: 20.0

In [21]:
print("======================================ADDITION==============================")

num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}")
print("the addition of {} and {} is {}".format(num1,num2,add))

print("=====================================SUBTRACTION============================")

num1=100
num2=200
sub=num1-num2
print("the subtraction of 100 and 200 is -100")
print("the subtraction of {} and {} is {}")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))

print("====================================MULTIPLICATION==========================")

num1=100
num2=200
mul=num1*num2
print("the multiplication of 100 and 200 is 2000")
print("the multiplication of {} and {} is {}")
print("the multiplication of {} and {} is {}".format(num1,num2,mul))

print("===================================DIVISION=================================")

num1=100
num2=200
div=num1/num2
print("the division of 100 and 200 is 0.5")
print("the division of {} and {} is {}")
print("the division of {} and {} is {}".format(num1,num2,div))

print("==================================AVERAGE=====================================")

a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print("the average of a,b,c is: avg")
print("the average of {},{},{} is: {}")
print("the average of {},{},{} is: {}".format(a,b,c,avg))

======================================ADDITION==============================
the addition of 100 and 200 is 300
the addition of {} and {} is {}
the addition of 100 and 200 is 300
=====================================SUBTRACTION============================
the subtraction of 100 and 200 is -100
the subtraction of {} and {} is {}
the subtraction of 100 and 200 is -100
====================================MULTIPLICATION==========================
the multiplication of 100 and 200 is 2000
the multiplication of {} and {} is {}
the multiplication of 100 and 200 is 20000
===================================DIVISION=================================
the division of 100 and 200 is 0.5
the division of {} and {} is {}
the division of 100 and 200 is 0.5
==================================AVERAGE=====================================
20.0
the average of a,b,c is: avg
the average of {},{},{} is: {}
the average of 10,20,30 is: 20.0

# f string: formatted string method

In [71]:
num1=100
num2=200
add=num1+num2

print("the addition of 100 and 200 is 300")
print("the addition of {} and num2 is {}")
print(f"the addition of {num1} and {num2} is {add}")

the addition of 100 and 200 is 300
the addition of {} and num2 is {}
the addition of 100 and 200 is 300

In [77]:
num1=100
num2=200
sub=num1-num2
print("the subtraction of 100 and 200 is -100")
print("the subtraction of {} and {} is {}")
print(f"the subtraction of {num1} and {num2} is {sub}")

the subtraction of 100 and 200 is -100
the subtraction of {} and {} is {}
the subtraction of 100 and 200 is -100

In [83]:
num1=100
num2=200
mul=num1*num2
print("the multiplication of 100 and 200 is 2000")
print("the multiplication of {} and {} is {}")
print(f"the multiplication of {num1} and {num2} is {mul}")

the multiplication of 100 and 200 is 2000
the multiplication of {} and {} is {}
the multiplication of 100 and 200 is 20000

In [108]:
num1=100
num2=200
div=num1/num2
print("the division of 100 and 200 is 0.5")
print("the division of {} and {} is {}")
print(f"the division of {num1} and {num2} is {div}")

the division of 100 and 200 is 0.5
the division of {} and {} is {}
the division of 100 and 200 is 0.5

In [9]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print("the average of a,b,c is: avg")
print("the average of {},{},{} is: {}")
print(f"the average of {a},{b},{c} is: {avg}")

20.0
the average of a,b,c is: avg
the average of {},{},{} is: {}
the average of 10,20,30 is: 20.0

In [24]:
print("===============================ADDITION========================")

num1=100
num2=200
add=num1+num2

print("the addition of 100 and 200 is 300")
print("the addition of {} and num2 is {}")
print(f"the addition of {num1} and {num2} is {add}")

print("================================SUBTRACTION=====================")

num1=100
num2=200
sub=num1-num2
print("the subtraction of 100 and 200 is -100")
print("the subtraction of {} and {} is {}")
print(f"the subtraction of {num1} and {num2} is {sub}")

print("===============================MULTIPLICATION===================")

num1=100
num2=200
mul=num1*num2
print("the multiplication of 100 and 200 is 2000")
print("the multiplication of {} and {} is {}")
print(f"the multiplication of {num1} and {num2} is {mul}")

print("================================DIVISION=========================")

num1=100
num2=200
div=num1/num2
print("the division of 100 and 200 is 0.5")
print("the division of {} and {} is {}")
print(f"the division of {num1} and {num2} is {div}")

print("===============================AVERAGE============================")

a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print("the average of a,b,c is: avg")
print("the average of {},{},{} is: {}")
print(f"the average of {a},{b},{c} is: {avg}")

===============================ADDITION========================
the addition of 100 and 200 is 300
the addition of {} and num2 is {}
the addition of 100 and 200 is 300
================================SUBTRACTION=====================
the subtraction of 100 and 200 is -100
the subtraction of {} and {} is {}
the subtraction of 100 and 200 is -100
===============================MULTIPLICATION===================
the multiplication of 100 and 200 is 2000
the multiplication of {} and {} is {}
the multiplication of 100 and 200 is 20000
================================DIVISION=========================
the division of 100 and 200 is 0.5
the division of {} and {} is {}
the division of 100 and 200 is 0.5
===============================AVERAGE============================
20.0
the average of a,b,c is: avg
the average of {},{},{} is: {}
the average of 10,20,30 is: 20.0

**round**

In [ ]:
# print()
# type()
# int()
# float()
# str()
# bool()
# round()
# CTRL+A
# CTRL+/

In [1]:
round(11.84444)

12

In [92]:
round(11.844444,2)

11.84

In [94]:
round(11.84444,3)

11.844

In [104]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(round(avg,2))

20.333333333333332
20.33

# end

**I have multiple print statements but I want to show in a single line**

In [114]:
print(10,end=" ")
print(20)

10 20

In [116]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [118]:
print('hello',end=' ')
print('how',end=' ')
print('are',end=' ')
print('you')

hello how are you

In [120]:
print('hello how are you')

hello how are you

# sep

**I have multiple values in a single print ststement**

**I want to print them with some seperation**

In [124]:
print(10,20,30,sep='===>')

10===>20===>30

- basic print statement

- we learn format method

- we learn f string method

- we learn round

- we learn end operator

- we learn sep operator

In [ ]:
# # wap take the radius of a circle calculate area of the circle
# # var: radius  var: pi=3.14
# # formula: pi*radius*radius
# # print the answers using f string and format

# wap take the breadth and height of a right angle triangle
# calculate the area
# var1: breadth   var2: height
# formula: 0.5*breadth*height

# wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount  var2: tip amount
# formula

# wap take the length and breadth of a rectangle to calculate the area
# var1: length   var2: breadth
# formula: length*breadth

In [23]:
radius=10
pi=3.14
area=(pi*radius*radius)
print(area)
print("the area of circle is {}".format(area))
print(f"the area of circle is {area}")

314.0
the area of circle is 314.0
the area of circle is 314.0

In [31]:
breadth=10
height=20
area=(0.5*breadth*height)
print(area)
print("the area of the right angle triangle is {}".format(area))
print(f"the area of the right angle triangle is {area}")

100.0
the area of the right angle triangle is 100.0
the area of the right angle triangle is 100.0

In [37]:
bill_amount=1000
tip_amount=200
total=(bill_amount+tip_amount)
print(total)
print("the total bill amount is {}".format(total))
print(f"the total bill amount is {total}")

1200
the total bill amount is 1200
the total bill amount is 1200

In [61]:
length=10
breadth=20
area=(length*breadth)
print(area)
print("the area of the rectangle is {}".format(area))
print(f"the area of the rectangle is {area}")

200
the area of the rectangle is 200
the area of the rectangle is 200