In [4]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i in range(len(names)):
    print(f'{names[i]} age is {age[i]}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

#### zip

In [18]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f'{i} age is {j}')

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Sathish 30
Sathish age is 30

In [34]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
zip(names,age)
output=[print(f'{i} age is {j}') for i,j in zip(names,age)]
output

Ramesh age is 20
Suresh age is 25
Sathish age is 30

[None, None, None]

**Dictionary**

- in above example names and age are together

- when both are together we can pair them

- This can happen using Dictionary

- Dictionary is called as **key-value** pair

- it represents with curly braces : **{key:value}**

- Ramesh and 20 years both are pair : {'Ramesh':20}

In [38]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [42]:
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [44]:
d3={'Ramesh':'20','Suresh':'25','Sathish':'30'}
d3

{'Ramesh': '20', 'Suresh': '25', 'Sathish': '30'}

In [46]:
d4={'Ramesh':'20','Suresh':'25','Sathish':30}
d4

{'Ramesh': '20', 'Suresh': '25', 'Sathish': 30}

In [48]:
d5={'Ramesh':20,'Ramesh':30}
d5

{'Ramesh': 30}

- If both keys are same it will take the latest value as in cell d5

- Dictionarys kind of like database

In [57]:
d6={'Ramesh':20,'Ramesh':20}
d6
# Dictionarys does not allow duplicates

{'Ramesh': 20}

In [59]:
d7={'Ramesh':20,'Suresh':20}
d7
# In dictionary keys play vital roles
# keys cannot be duplicate but values can be duplicate

{'Ramesh': 20, 'Suresh': 20}

In [64]:
d8={20:'Ramesh',20:'Suresh'}
d8
# If both keys are same it will take the latest value as in cell d5

{20: 'Suresh'}

In [66]:
d9={True:'true'}
d9

{True: 'true'}

In [68]:
d10={'fruits':['Apple','Banana']}
d10

{'fruits': ['Apple', 'Banana']}

In [70]:
d11={['Apple','Banana']:'fruits'}
d11

TypeError: unhashable type: 'list'

In [72]:
d12={'fruits':('Apple','Banana')}
d12

{'fruits': ('Apple', 'Banana')}

In [74]:
d13={('Apple','Banana'):'fruits'}
d13

{('Apple', 'Banana'): 'fruits'}

**list as keys fails because list has a mutable behaviour**

**tuple as keys works because tuple has immutable behaviour**

**in dictionary keys are very very important**

**keys doesnot change so when we apply list is failing**

- If both keys are same it will take the latest value

- Dictionarys does not allow duplicates

- In dictionary keys play vital roles

- keys cannot be duplicate but values can be duplicate

In [2]:
d14={'fruits':{'Apple':20}}
d14

{'fruits': {'Apple': 20}}

In [4]:
d15={{'Apple':20}:'fruits'}
d15

TypeError: unhashable type: 'dict'

In [9]:
dict1={'Apple':20,'Banana':30,"Cherry":50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
min(dict1),min(dict2),min(dict3)

('Apple', 'Apple', 20)

In [11]:
max(dict1),max(dict2),max(dict3)

('Cherry', 'apple', 50)

In [21]:
sum(dict3)
# sum(dict1) and sum(dict2) doesnot execute because unsupported operand type(s) for +: 'int' and 'str'

100

In [27]:
sorted(dict1),sorted(dict2),sorted(dict3)

(['Apple', 'Banana', 'Cherry'], ['Apple', 'apple'], [20, 30, 50])

In [35]:
list(reversed(dict1)),list(reversed(dict2)),list(reversed(dict3))

(['Cherry', 'Banana', 'Apple'], ['apple', 'Apple'], [50, 30, 20])

In [57]:
dict1={'Apple':20,'Banana':30,"Cherry":50}
'Apple' in dict1

True

In [59]:
dict1={'Apple':20,'Banana':30,"Cherry":50}
20 in dict1

False

In [61]:
dict1={'Apple':20,'Banana':30,"Cherry":50}
'Apple':20 in dict1

SyntaxError: illegal target for annotation (2819830936.py, line 2)

In [63]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [71]:
for i in range(len(dict1)):
    print(i)

0
1
2

**index**

In [76]:
l1=[10,20,30]
l1[0]

10

In [78]:
str1='python'
str1[0]

'p'

In [99]:
dict1={'Apple':20,'Banana':30,"Cherry":50}
dict1['Apple']
dict1['Banana']
dict1['Cherry']

50

**how to extract the values**

- in dictionary we have a concept key:value pair

- keys are very important

- in order to get the values we need to take the keys help

In [107]:
dict1={'Apple':20,'Banana':30,"Cherry":50}
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 50

In [117]:
names={'Ramesh':20,'Suresh':25,'Sathish':30}
for i in names:
    print(f'{i} age is {names[i]}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [125]:
d={'fruits':['Apple','Banana','Cherry']}
d['fruits'][2]

'Cherry'

In [137]:
d={'fruits':
   {'Apple':
    ['sweet','sour','green']
   }}
d['fruits']['Apple'][2]

'green'

In [147]:
d={'fruits':[{'Cost':[50]}]}
d['fruits'][0]['Cost'][0]

50

In [161]:
d={'Fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
d['Cost'][0]['1kg'][2]

40

In [189]:
print(d['Cost'][0]['2kg'])

None

In [129]:
d={'Fruits':{'Orange':{'Nagpur':{'MH':{'king':{'Shivaji':{'Shambaji'}}}}}}}
print(d['Fruits']['Orange']['Nagpur']['MH']['king']['Shivaji'])
list(d['Fruits']['Orange']['Nagpur']['MH']['king']['Shivaji'])[0]

{'Shambaji'}

'Shambaji'

**how to create empty dictionary**

- Now onwards focus on creation of empty list,strings and dictionary

- we will take empty list will use append operation

- we will take empty string will use concatenation

- we will take empty dictionary will use key:value pair concept

In [243]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [245]:
# strings
s=''
s=s+'p'
s=s+'y'
s

'py'

In [253]:
# dictionary
d={}
d['Ramesh']=20
d['Suresh']=25
d['Sathish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

### How to convert list to dictionary

In [259]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
d={}
for i,j in zip(names,age):
    d[i]=j
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

#### Dictionary Comprehension

- for list comprehension we written everything inside list

- for dictionary comprehension we should write everything inside dictionary

In [ ]:
# list comprehension:[<output> <for loop>]
# dictionary comprehension:{<key:value> <for loop>}

In [265]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
output={i:j for i,j in zip(names,age)}
output

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

**mutable-immutable**

- lists are mutable

- dictionarys are also mutable

- strings are immutable

- tuple also immutable

- in dictionarys we can change the values using keys

In [268]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d['Ramesh']=30
d

{'Ramesh': 30, 'Suresh': 25, 'Sathish': 30}

#### methods

In [271]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- clear

- copy

- values

- keys

- items

In [278]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.clear()
d

{}

In [284]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
e=d.copy()
e

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [3]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [5]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.values()

dict_values([20, 25, 30])

In [7]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)])

In [47]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.fromkeys('Ramesh',20)

{'R': 20, 'a': 20, 'm': 20, 'e': 20, 's': 20, 'h': 20}

In [49]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.get('Sathish')

30

In [61]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
print(d.pop('Suresh'))
d

25

{'Ramesh': 20, 'Sathish': 30}

In [132]:
l1=['Ramesh','Suresh','Sathish']
l1.remove('Ramesh')
l1

['Suresh', 'Sathish']

- **pop** in dictionary, similar anology to **remove** in the list

- **pop item** in dictionary,similar analogy to **pop** in the list

In [134]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
print(d.popitem())
d

('Sathish', 30)

{'Ramesh': 20, 'Suresh': 25}

In [75]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.setdefault('Rakesh',35)
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'Rakesh': 35}

In [24]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.update(['R2'])
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'R': '2'}

#### keys

In [2]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
keys=d.keys()
keys

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [4]:
type(keys)

dict_keys

In [6]:
# i got mistaken assuming this is list type
keys.count('Ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**Convert dictionary to list**

- in order to seperate dictionary from list

- first we need to seperate keys and values

- then apply list type casting

In [11]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
keys=d.keys()
keys_list=list(keys)
keys_list

['Ramesh', 'Suresh', 'Sathish']

- **list ==== string    using join**

- **string === list     using split**

- **list ==== dict      using zip**

- **dict ==== list      using type casting**

In [18]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
values=d.values()
values_list=list(values)
values_list

[20, 25, 30]

In [20]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
items=d.items()
items_list=list(items)
items_list

[('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)]

In [26]:
type(keys),type(keys_list)

(dict_keys, list)

In [28]:
keys_list.count('Ramesh')

1

In [98]:
str1='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l=str1.split(';')
fname=[]
sname=[]
cname=[]
d={}
for i in l:
    id1=i.index('.')
    id2=i.index('.',id1+1)
    atr1=i.index('@')
    fname.append(i[:id1])
    sname.append(i[id1+1:atr1])
    cname.append(i[atr1+1:id2])
d['Fname']=fname
d['Sname']=sname
d['Cname']=cname
d

{'Fname': ['virat', 'rohit', 'ms'],
 'Sname': ['kohli', 'sharma', 'dhoni'],
 'Cname': ['rcb', 'mi', 'csk']}

**get**

- **get** in dictionary similar anology to **list index**

In [138]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.get('Sathish')

30

In [142]:
d['Ramesh'] # key as an index

20

**update**

- update is similar to anology **list extend**

- take two dictionarys and apply update method

In [156]:
d1={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d2={'Rakesh':35, 'Teja':40, 'Uday':50}
d1.update(d2)
d1

{'Ramesh': 20,
 'Suresh': 25,
 'Sathish': 30,
 'Rakesh': 35,
 'Teja': 40,
 'Uday': 50}

In [160]:
l1=[1,2,3,4,5]
l2=['A','B','C','D']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

**setdefault**

- suppose an already existing dictionary available

- we can update the dictionary with new key:value pair

In [178]:
d={'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d.setdefault('Sangepu')
d.setdefault('Rakesh',35)
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'Sangepu': None, 'Rakesh': 35}

- **setdefault** in dictionary similar anology to **list append**

- always remember dictionary is a key:value pair concept

- it never involves index operations

- thats why we dont have any index or find methods

- we have **get** method to extract values using key

**fromkeys**

- create a dictionary with differnt keys but same value

- fromkeys will take an arguement **iterable**

- try to provide an iterator as an arguement i.e., string,list,tuple

In [186]:
d={}
names=['Ramesh','Suresh','Sathish']
d.fromkeys(names,'Naresh IT')

{'Ramesh': 'Naresh IT', 'Suresh': 'Naresh IT', 'Sathish': 'Naresh IT'}

In [190]:
d={}
str1='python'
d.fromkeys(str1)

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [198]:
d={}
t1=(1,2,3,'Apple','Banana','Cherry')
d.fromkeys(t1)
d

{}

- **pop** in dictionary, similar anology to **remove** in the list

- **pop item** in dictionary,similar analogy to **pop** in the list

- update is similar to anology **list extend**

- **setdefault** in dictionary similar anology to **list append**

- **get** in dictionary similar anology to **list index**

- list,string and tuple has count

  - but dictionarys does not have **count**
 
  - becuase dictionary does not allow **duplicates**
 
 -

In [210]:
d={'Fname': ['virat', 'rohit', 'ms'],
 'Sname': ['kohli', 'sharma', 'dhoni'],
 'Cname': ['rcb', 'mi', 'csk']}
# try to make a list out of it
keys=d.keys()
keys
keys_list=list(keys)
keys_list
values=d.values()
values_list=list(values)
fname=list(values_list[0])
sname=list(values_list[1])
cname=list(values_list[2])

print(fname)
print(sname)
print(cname)

['virat', 'rohit', 'ms']
['kohli', 'sharma', 'dhoni']
['rcb', 'mi', 'csk']