# DATA TYPES

- integer : int

- float

- string

- list

- tuple

- set

    - frozen set

- dictionary

- bool

- complex

- range

- byte

- byte array

- memory view

- None type

- myth

    - only 14-15 data types are avaialble, dont believe this.

$integer$

In [5]:
number=100
number

100

In [7]:
type(number)

int

**numbers system**

- Binary number system

- decimal number system

- Octa number system

- Hexa number system

**Binary number system**

- it is denoted with **0b** or **0B**

- Binary means two

- We generally have 0 to 9 digits available

- Binary means only two digits are allowed which are 0 and 1

- ex: 0b101 0b111 0b000 0B001

- not valid: 0b123 0B1000012

In [12]:
0b111

7

In [14]:
0b1011

11

In [16]:
0B01011

11

In [18]:
0B11101

29

In [90]:
0B1001001100101100000001011011101010

9876543210

In [1]:
2^3 2^2  2^1  2^0
8    4    2    1
########################
0    0     0    0     0
0    0     0    1     1 
0    0     1    0     2
0    0     1    1     3
0    1     0    0     4
0    1     0    1     5
0    1     1    0     6
0    1     1    1     7
1    0     0    0     8
1    0     0    1     9
1    0     1    0     10
1    0     1    1     11
1    1     0    0     12
1    1     0    1     13
1    1     1    0     14
1    1     1    1     15

SyntaxError: invalid syntax (1349175946.py, line 1)

In [27]:
0B1111

15

**octa number system**

- it is denoted with **0o** or **0O**

- Octa means eight

- We generally have 0 to 9 digits available

- Octa means only eight digits are allowed which are 0 1 2 3 4 5 6 7

- ex: 0o123 0O567

- not valid:0O12789

In [24]:
0o567

375

In [26]:
0O123

83

In [84]:
0O34567120

7532112

**Hexa number system**

- it is denoted with **0x** or **0X**

- Hexa means  16

- We generally have 0 to 9 digits available

- Hexa means only sixteen digits allowed: 0 to 9 and A to F

-  A:10  B:11  C:12  D:13  E:14 F:15

- ex: 0xabc  0XA1 

- not valid: 0xefg

In [29]:
0xa1

161

In [94]:
0X24cb016EA

9876543210

# Float

In [52]:
number=10.5
type(number)

float

# e representation

In [ ]:
1e1   # 1*10=10
1e2   #1*100=100
2e3   #2*1000=2000
4e4   #4*10000=40000

In [1]:
print(1e+1)   # 1*10=10
print(1e+2)   #1*100=100
print(2e+3)   #2*1000=2000
print(4e+4)   #4*10000=40000

10.0
100.0
2000.0
40000.0

In [3]:
print(1e-1)   # 1/10=0.1
print(1e-2)   #1/100=0.01
print(2e-3)   #2/1000=0.002
print(4e-4)   #4/10000=0.0004

0.1
0.01
0.002
0.0004

In [ ]:
# integer data type
#float data type

# boolean
**boolean gives false value only for zeros/off**

In [6]:
val=True
val

True

In [8]:
type(val)

bool

In [10]:
val1=False
val1

False

In [12]:
val1=False
type(val1)

bool

**strings**

- English format representation

- strings represent with quotes

- we can use single quotes, double quotes and triple quotes

In [16]:
name='python'
name

'python'

In [18]:
type(name)

str

In [22]:
print(name)
# when we print, we will not be able to see the quotes

python

In [24]:
val='10'
type(val)

str

In [28]:
val1=10
type(val1)

int

In [30]:
name="naresh it"
name
# but the output is displayed in single quotes

'naresh it'

In [32]:
type(name)

str

In [34]:
print(name)

naresh it

In [42]:
str1="I love 'python'"
print(str1)

I love 'python'

- Keep the entire string in Double quotes, then highlight the word with single single quotes and vice versa

**triple quotes**

- triple quotes cannot be used in the coding part

- triple quotes means conveying the information

- this process is called as **DOC STRING**

- In jupyter notebook we have markdown option

- But in vscode or pycharm, there is no markdown option

- So user will convey the information by providing triple quotes

In [ ]:
'''Hi
Today I am learning python
It is easy'''

In [ ]:
true=True  # works, type is bool
true='True'# works, type is str
true=10.5  # works, type is float
True=10    # fails, as keywords like True cannot be used as variables
True=True  # fails, as keywords like True cannot be used as variables

In [ ]:
# in python datatypes words appearing in red are strings, green colour means keywords and black means vaiables