# Variables

- we are doing this to check if

- it is working or not

- please work

- Variables are used to store the data

- The Data can be change

- These Variables can be use to manipulate python code

In [3]:
number=100
# 100 is stored in a variable called as number
number

100

In [6]:
NUMBER=200
NUMBER

200

In [8]:
number, NUMBER

(100, 200)

In [10]:
NUMber=300
NUMber

300

In [12]:
number, NUMBER, NUMber

(100, 200, 300)

In [14]:
number123=400
number123

400

In [17]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

**Note**:

- Variables are generally in black color

- Green color should not be variables

- numbers as suffix can work

- number as prefix will fail

In [19]:
number$=600
number$

SyntaxError: invalid syntax (988349833.py, line 1)

- special charecters are not allowed

In [22]:
number one=200
number one

SyntaxError: invalid syntax (3486595279.py, line 1)

In [24]:
number_one=300
number_one

300

In [31]:
_=900
_

900

- space special charecter not allowed

- only underscore is allowed in variables

In [34]:
if=1000

SyntaxError: invalid syntax (4067401087.py, line 1)

- keywords cannot be used as variables